*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    overflow: hidden;
}
#drawCanvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#info{
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}